body {
    margin: 0;
    background-color: #36393F;
    color: #DCDDDE;
    font-family: 'Open Sans', sans-serif;
}

#center {
    width: 40%;
    margin: 30px auto;
}

p {
    font-size: 0.8em;

    background-color: #40444B;
    border-radius: 8px;
    padding: 10px;

    display: inline-block;
}

p a {
    color: rgb(75, 75, 255);
}

#update {
    background-color: #40444B;
    border-radius: 8px;
    width: 100%;

    padding: 10px;

    position: relative;
}

/* footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
} */
