body {
    margin: 0;
    background-color: #36393F;
    color: #DCDDDE;
    font-family: 'Open Sans', sans-serif;
}

#center {
    position: relative;

    width: 40%;
    margin: 30px auto;
}

p {
    display: inline-block;

    margin-top: 0;

    font-size: 0.8em;
    background-color: #40444B;
}

p a {
    color: rgb(75, 75, 255);
}

#update {
    position: relative;

    width: 100% - 20px;

    background-color: #40444B;
}

#copy-button {
    position: absolute;
    top: 0;
    right: 0;
    
    border: none;
    width: 90px;

    background-color: #0b5ed7;
    transition: background-color 0.2s ease-out;
    color: #DCDDDE;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#copy-button:hover {
    cursor: pointer;
}

.padded {
    border-radius: 8px;
    padding: 10px;
}
